@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    I am 22 years old. I was born and raised in Columbus, Ohio. I live with my parents, Chris and Connie, and my sister Bethany. We have a dog named Vinny who we love dearly. Our oldest dog, Lucky, recently passed away. We are die-hard Buckeye fans, so I consider myself a Buckeye in Bobcat country.
    When I am at school, I live on Franklin Ave with two of my friends. We enjoy playing and watching basketball together. </p>
