@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    67 Franklin Ave<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    614.315.1800
</address>

<address>
    <strong>School:</strong>   <a href="mailto:jw414515@ohio.edu">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:jw414515@ohio.edu">Marketing@example.com</a>
</address>