@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS 4200</h1>
    <p class="lead">This webpage is for Jacob Worm's MIS 4200 class.</p>
    <p><a href="https://www.linkedin.com/in/jakeworm" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>High School</h2>
        <p>
            I graduated from Westerville North High School in 2016. During my time there, I took multiple Honors and AP courses and was a student section leader my senior year. 
        </p>
        <p><a class="btn btn-default" href="https://www.westerville.k12.oh.us/30/Home">Learn more &raquo;</a></p>
        @Html.ActionLink("Leagues", "Index", "Leagues")
        <br />
        @Html.ActionLink("Teams", "Index", "Teams")
    </div>
    <div class="col-md-4">
        <h2>College</h2>
        <p>I am currently finishing my last semester at Ohio University. I will be graduating from the College of Business in May with a degree in MIS and Marketing.</p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Career</h2>
        <p>After graduation, I will begin my IT career with Nationwide in Columbus, Ohio as a Requirements Analyst.</p>
        <p><a class="btn btn-default" href="https://www.nationwide.com/">Learn more &raquo;</a></p>
    </div>
</div>